@import "tailwindcss";


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f4ff; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6790e8; 
  border-radius: 7px;
  transition: background 0.3s ease, transform 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #8ca2ea; 
  transform: scale(1);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #91b4ff #f0f4ff;
}
